/* contains style for navbar, hamburger, footer */


/* navigation bar */
#navigationbar{
    
    /*font noto serif  */
    /* font-family: 'Noto Serif', serif; */
    position: fixed; 
    /* fixed position so that it will stay as u scroll */
    z-index: 1000;
    /* z index to make layer stay on top of everything else */
    top: 0;
    /* left: 0; */

    display: flex;
    flex-direction: row;

    /* making the navigation bar background translucent/glass look colour */
    background-color: rgb(255, 255, 255,0.85);
    backdrop-filter: blur(6px);

    height: 60px;
    /* 100% width so that it will take up the whole width */
    width: 100%;

    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    /* padding inside the width of nav bar */
    box-sizing: border-box;
    margin-left: auto;

}

/* logo of the page */
.logo a{
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}
.logo span{
    /* the logo symbol icon */
    font-size: 32px;
    color: #ffffff;
    background: var(--orange-color);
    border-radius: 20px;
    padding: 4px;
}

#logotitle{
    font-size: 24px;
    font-weight: 550;
    color: var(--orange-color);
    text-decoration: none;
}

#logotitle em{
    font-style: italic;
    color: var(--black-text-color);
    font-weight: 750;
}

.navitems{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */

    /* gap so they r not too close to each other */
    gap: 32px;

    list-style: none;
    margin: 0;
    margin-left: auto;
    padding: 0px;
}

.navitems li{
    font-size: 20px;
    /* list-style: none; */
}

/* navigations */
.navitems a{
    text-decoration: none;  
    font-size: 23px;
    font-weight: bold;
    color: var(--orange-color);
    padding: 6px 10px;
    position: relative;
    transition: color 0.2s ease;
}

/* animation for when hovering the nav items */
.navitems a:hover{
    color: var(--dark-orange-color);
    transition: color 0.3s ease;
    /* text-decoration: underline; */
}

/* while the navigation is active state */
.navitems a.active{
    /* dark orange color for active nav */
    color: var(--dark-orange-color);
    font-weight: 600;
}

/* animation for hovering over nav items */
.navitems a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--dark-orange-color);
    transition: width 0.25s ease;
}

.navitems a:hover::after,
.navitems a.active::after{
    width: 100%;
}








/* universal hawker search design */
#hawkersearch{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    background-color: var(--beige-color);
    border: none;
    width: 600px;
    height: 30px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
#hawkersearch::placeholder{
    color: rgba(128, 128, 128, 0.37);
}
/* #hawkersearch:focus{
    box-shadow: inset 0 0 0 1px var(--dark-orange-color);
} */
/* hover effect */
#hawkersearch:hover{
    transform: translateY(-3px);
    transition: transform 0.4s ease;
    filter: brightness(1.05);
    /* box-shadow: 0 14px 28px rgba(139, 92, 246, 0.45); */
}




/* universal banner design */
.card-fav {
    cursor: pointer;
    color: var(--lighter-beige);
    transition: transform 0.2s ease;
}

.card-fav:hover {
    transform: scale(1.15);
}

.card-fav.active {
    color: var(--dark-orange-color);
}

.order-hawker-banner{
    position: relative;
    height: 300px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    position: absolute;
    inset: 0;

    background-image: url("../images/bg-img.jpg");
    background-size: cover;
    background-position: center;

    filter: blur(10px) brightness(0.6);
    transform: scale(1.1);

    z-index: 1;
}
.order-hawker-header{
    position: relative;
    z-index: 2;

    text-align: center;
    color: var(--lighter-beige);

    max-width: 700px;
    padding: 24px;
}




   /* HAMBURGER MENU */
#hamburger-btn {
  display: none;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  font-size: 36px;
  color: var(--orange-color);
  cursor: pointer;
}




/* FOOTER */
#footercontainer{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 350px;
    background-color: var(--lighter-beige);
}