/* ======================================================= */
/* popular hawker centre section */

#hawker-centre-section{
    /* testing color */
    background-color: var(--orange-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

.wrapper{
    max-width: 1500px;
    padding: 20px 20px;
    margin: 0 60px 35px;
    overflow: hidden;
}

.wrapper .card{
    display: flex;
    flex-direction: column;
    /* width: 700px; */
    height: auto;
    background: var(--beige-color);
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.10);
    transition: transform 0.3s ease;

    /* margin: 20px; */
}

.wrapper .card:hover{
    transform: translateY(-10px);
}
.card-image{
    padding: 10px;
    position: relative;
}

.card .card-image img{
    width: 100%;
    border-radius: 22px;
    /* padding: 10px; */
    /* height: auto; */
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card .card-image .hawker-rating{
    position: absolute;
    left: 30px;
    top: 5px;
    background: var(--orange-color);
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.10);
}

.card .card-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 25px 25px;
}

.card .card-content .hawker-name{
    font-size: 30px;
    font-weight: 600;   
    margin: 0px;
}

.card .card-content .hawker-address{
    font-size: 18px;
    margin: 0;
    color: rgb(80, 80, 80);
}

.card .card-content .card-footer{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}



/* overwrite the button design. */
.card .card-content .card-footer .card-fav{
    font-size: 40px;
    padding: 10px;
    border-radius: 50%;
}

